<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/3509a2b9-b749-4626-900d-83de6e96c216/resourceGroups/chanting_group/providers/Microsoft.Web/sites/chantingapp</ResourceId>
    <ResourceGroup>chanting_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://chantingapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7436fcda-f8cf-457a-85af-6a3d8dc7f8a7</ProjectGuid>
    <PublishUrl>https://chantingapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$chantingapp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>